.injected-box {
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.75);
    margin: 10px 0;
    
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#828c99+0,7db9e8+100&amp;1+0,0+100 */
    background: -moz-linear-gradient(-45deg,  rgba(130,140,153,1) 0%, rgba(125,185,232,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(130,140,153,1) 0%,rgba(125,185,232,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(130,140,153,1) 0%,rgba(125,185,232,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#828c99', endColorstr='#007db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.injected-box h1 { font-size: 1em; text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.9); }
.injected-box h2 { font-size: 0.9em; font-weight: normal; }
.injected-box h3 { font-size: 0.8em }